* {
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 110px;
    display: flex;
    background-color: #9B20E7;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
}

.cabecalho{
    width: 120%;
    height: 130px;
    border-radius: 50%;
    background-color:#C4C4C4;
    display: flex;
    -webkit-box-shadow: 6px 6px 10px #999; 
    -moz-box-shadow: 6px 6px 10px #999;
         box-shadow: 6px 6px 10px #999;	
}

h1{
    display: flex;
    margin-top: 50px;
}


/* ---------------  inicio seção card */

.section_cards{
    width: 100%;
    height: 400px;
    background-color: #f5f6fa;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card_1{
    width: 40%;
    max-width: 450px;
    height: 200px;
    background-color: #9B20E7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    -webkit-box-shadow: 6px 6px 10px #999; 
    -moz-box-shadow: 6px 6px 10px #999;
         box-shadow: 6px 6px 10px #999;
    
}

.card_2{
    width: 40%;
    max-width: 450px;
    height: 200px;
    background-color: #9B20E7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    -webkit-box-shadow: 6px 6px 10px #999; 
    -moz-box-shadow: 6px 6px 10px #999;
         box-shadow: 6px 6px 10px #999;
}

.card_texto1{
    width: 70%;
    height: 150px;
    font-size: 20px;
    color: #fff;
}

.card_texto2{
    width: 70%;
    height: 150px;
    font-size: 20px;
    color: #fff;
}

/* ------- conversao -------- */

#section_conversao{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #2d2d2d;
    
}

.titulo_conversao{
    font-size: 50px;
    color: #fff;
}

#form{
    width: 100%;
    height: 300px;;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #2d2d2d; 
}

label{
    font-size: 30px;
    color: #999;
}

input{
    width: 140px;
    height: 20px;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
}

select{
    width: 100px;
    height: 20px;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
}

button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

button:hover{
    background-color: #9B20E7;
    color: #f5f6fa;
    font-size: 20px;
}

/* ----- parabens -------- */

.section_conversao_realizada{
    width: 100%;
    height: 150px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9B20E7;
}

.card_parabens{
    width: 60%;
    height: 200px;
    background-color: #9B20E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_conversao_realizada{
    width: 10%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#resultado{
    width: 60%;
    height: 20px;
    color: #f5f6fa;
    font-size: 30px;
    margin: 10px;
}

.efeito_cor{
    width: 150px;
    height: 20px;
}

.conversao_realizada{
    color: #f5f6fa;
    font-size: 40px;
}

.parabens{
    width: 60%;
    height: 20px;
    color: #f5f6fa;
    font-size: 28px;
}

.section_propaganda_mobile{
    width: 100%;
    height: 800px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.div_propaganda_mobile_informacao{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff; 
}

.div_propaganda_imagem{
    width: 40%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
}

.imagem_propaganda_mobile{
    width: 280px;
    height: 400px;
}
.h2_propaganda_mobile{
    margin-bottom: 100px;
    font-size: 40px;
    color: #2d2d2d;
}

.titulo_informacao{
    color: #2d2d2d;
    font-size: 36px;
}

.paragrafo_informacao{
    width: 80%;
    height: 100px;
    display: flex;
}

.button_informacao{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    background-color: #9B20E7;
}


.button_informacao:hover{
    background-color: #2d2d2d;
    color: #f5f6fa;
    font-size: 20px;
}

.div_propaganda_informacao{
    width: 40%;
    max-width: 550px;
    height: 400px;
    max-height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f5f6fa; 
    flex-direction: column;
    border-radius: 15px;
    -webkit-box-shadow: 6px 6px 10px #999; 
    -moz-box-shadow: 6px 6px 10px #999;
         box-shadow: 6px 6px 10px #999;
}

footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d; 
}